@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

.title {
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: blueviolet;
  margin: 0;
  background-image: url('images/main_back2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* header */

header {
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  height: 8vh;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* logo */

.logo_png {
  width: 50px;
  height: 50px;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
}

.logo_text {
  font-size: 40px;
  text-decoration: none;
  color: white;
  font-weight: 900;
}

/* burger-menu */

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: absolute;
  top: 2.5vh;
  left: 1.5vw;
  z-index: 1;
  cursor: pointer;
  display: block;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fffdfd;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

.menu-list {
  font-family: "Noto Serif", serif;
  height: 93vh;
  top: 8vh;
  left: 0;
  position: absolute;
  gap: 12px;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 66%, rgb(170, 246, 52) 99%);
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
}

.menu {
  width: 40px;
  height: 30px;
}

.burger-li {
  /* border-bottom: 1px solid white; */
  /* border-top: 3px solid white; */
  /* border: 1px solid white; */
  height: 25px;
  padding: 10px 0 30px 0;
}

.menu-item {
  display: block;
  margin-left: 20px;
  padding: 1px;
  padding-bottom: 1px;
  color: white;
  font-size: 20px;
  text-align: start;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0;
  transition: color 0.1s linear;
}

.menu-item:hover {
  color: black;
}



.burger-checkbox:checked~.menu-list {
  transform: translateX(0);
}

/* main */

#top {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  opacity: 1;
  transform: scale(1.1);
  background-color: rgb(243, 130, 38);
}

main {
  font-family: "Noto Serif", serif;
  margin: 0;
}

article {
  padding: 0;
  margin: 0;
}

/* article start */

.start {
  position: relative;
  width: 100%;
  height: 92vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.start_info {
  display: flex;
  flex-direction: column;
}

.start_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start p {
  background: linear-gradient(to right, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  margin: 0;
  margin-top: 3%;
  padding: 10px;
  /* margin: 0; */
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  border: 3px solid white;
}

.start a {
  text-decoration: none;
  color: #fff9f9;
}

.start h2 {
  margin-top: 3%;
  top: 0;
  width: 65%;
  background: linear-gradient(to right, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  color: white;
  border: 3px solid white;
}

.start_qr {
  display: flex;
  justify-content: center;
}

.start figcaption {
  margin-top: 5%;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 7px;
  border: 3px solid white;
  text-align: center;
  background: linear-gradient(to right, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
}

.start figure {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qr {
  width: 250px;
  height: 250px;
  transition: transform 0.7s ease;
}

.qr:hover {
  transform: scale(1.05);
}

.backgr_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.start-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 5;
}

.logo_vid {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

/* articles about, arts, team, faq */

h1 {
  background: linear-gradient(to right, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  font-size: 75px;
  text-align: center;
  color: white;
  border: 3px solid white;
}

h2 {
  top: 0;
  width: 65%;
  margin-top: 5%;
  background: linear-gradient(to left, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  padding: 7px;
  font-size: 75px;
  text-align: center;
  color: white;
  border: 3px solid white;
}

.about,
.arts,
.team,
.faq,
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about,
.arts,
.team,
.faq,
.feedback {
  background: linear-gradient(to right, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
}

.arts,
.team,
.faq,
.feedback {
  padding-bottom: 5%;
  margin-top: 35%;
}

.article_text {
  margin: 0 7vw 3vw 7vw;
  color: white;
  font-size: 40px;
  background: linear-gradient(to left, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  padding: 20px;
  border: 3px solid white;
}

/* arts */

.arts,
.feedback {
  width: 100%;
  height: 100vh;
}

.concept_art {
  width: 500px;
  height: 400px;
  border-radius: 15px;
  transition: transform 0.7s ease;
}

.concept_art:hover {
  transform: scale(1.05);
}

.arts-art {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* team */

.team_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

h3 {
  background: linear-gradient(to left, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  border: 3px solid white;
  color: white;
  width: 420px;
  text-align: center;
}

.portrait {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px 5px rgb(222, 222, 222);
  transition: transform 0.7s ease;
  border-radius: 15px;
}

.portrait:hover {
  transform: scale(1.05);
}

.role {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.main-role {
  width: 30%;
}

.second-roles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.members {
  display: flex;
}

.team figcaption {
  background: rgb(240, 240, 240);
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 5%;
  width: 120%;
}

.description {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.team figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 320px;
}

/* faq */

.article_text a {
  text-decoration: none;
  color: red;
}

.article_text details {
  max-width: 65vw;
}

.faq .article_text {
  padding: 70px;
}

details summary {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  /* Отступ между маркером и текстом */
  cursor: pointer;
  padding: 10px;
  width: 70vw;
}

/* Создаем кастомный маркер */
details summary::before {
  content: "▶";
  display: inline-block;
  transition: transform 0.3s ease;
}

/* Анимация при открытии */
details[open] summary::before {
  transform: rotate(90deg);
}


/* feedback */

.feedback h2 {
  margin-bottom: 0px;
}

.chat {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-right: 20px;
  transition: transform 0.7s ease;
}

.chat:hover {
  transform: scale(1.05);
}

.form {
  width: 325px;
  height: 325px;
  transition: transform 0.7s ease;
}

.form:hover {
  transform: scale(1.05);
}

.container-feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 17vh;
  /* width: 100vw; */
}

.container-feedback-item-1 {
  display: flex;
  height: 250px;
}

.container-feedback-item-2 {
  display: flex;
  align-items: flex-end;
  height: 250px;
}

.container-feedback-item-1 figure {
  display: flex;
  align-items: flex-start;
}

.container-feedback-item-1 figcaption {
  width: 600px;
  text-align: center;
  background: linear-gradient(to left, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}

.container-feedback-item-2 figure {
  display: flex;
  align-items: flex-end;
}

.container-feedback-item-2 figcaption {
  width: 600px;
  text-align: center;
  background: linear-gradient(to left, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
  border: 3px solid white;
  color: white;
}

/* footer */

footer {
  background: linear-gradient(to right, rgb(251, 183, 24) 33%, rgb(243, 130, 38) 52%, rgb(170, 246, 52) 99%);
}

footer p {
  color: white;
  font-size: 35px;
  font-family: "Noto Serif", serif;
  margin: 0;
  margin-top: 10%;
  padding: 0;
  text-align: center;
}
